asdf plugin add helm || true
asdf plugin add yarn || true
asdf install helm || true
asdf install yarn || true
asdf install nodejs || true

helm repo add jetstack https://charts.jetstack.io
helm repo add metallb https://metallb.github.io/metallb

helm repo update

corepack enable && corepack prepare yarn@stable --activate
